/*Contenedor pago*/

.container-pago{
  background-color: #d9d9d9;
  display: inline-block;
  width: 300px;
  height: 230px;
  margin-left: 7%;
  margin-bottom: 20px;
  border-radius: 20px;

  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
   box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
}
.container-total{
  margin: 20px;
  color:black;
  font-size:18px;
}

/*Contenedor Buscador*/
.container-buscador{

display: inline-block;

}

/*Buscador*/

#search{
  text-align: center;
  width: 400px;
  height: 35px;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;

  border-radius: 30px;
  border: 3px solid #004987;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
   box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);

}


/* Contenedor tabla */

.container-table{
margin: 10px;
width: auto;
display: block;

}
.scroll{
margin-left: 7%;
margin-right: 7%;
margin-top: 15px;
margin-bottom: 2%;

border-radius: 15px;

max-height: 500px;
overflow-y: auto;
-ms-overflow-style:
-ms-autohiding-scrollbar;

-webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
 box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.5);
}

/*Tabla polizas*/
.facturas {
  border-collapse: collapse;
  width: 100%;
  height: auto;
  font-weight: bolder;


}

th, td {

  padding: 20px;
  text-align: center;
}

tr:nth-child(even){background-color: #d9d9d9}

.facturas th{
  background-color: #004987;
  color: white;
  height: 50px;
  font-size: 20px;
  text-align: center;


}

/*tabla certificados*/

.table_cert {
  border-collapse: collapse;
  width: 100%;
  height: auto;


}
.table_cert th{
  background-color: #004987;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}


/*checkbox*/
.pago{

}

input[type="checkbox"].pago{
	font-size: 30px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 1.8em;
	height: .8em;
	background: #bfbfbf;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].pago:checked{
	background: #004987;
  }

  input[type="checkbox"].pago:after{
	position: absolute;
	content: "";
	width: .8em;
	height: .8em;
	border-radius: 50%;
	background: #b3b3b3;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.6);
	        box-shadow: 0 0 .25em rgba(0,0,0,.6);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }

  input[type="checkbox"].pago:checked:after{
	left: calc(100% - .8em);
  }

  .reloj{
    font-size: 1.8em;
  }
